
            html.body {
                /*background:#00CED1 ;*/
                margin-top: 0px;
                padding: 0;
                display: flex;
                min-height: 100vh;
            }
            .container{
                /*background-color:#00CED1;*/
                width: 100%;
                height: 600px;
            }
            
            .row{
                margin-left: 100px;
            }

            .full-height {
                height: 100vh;
            }

            #main-header {
            background:#00CED1 ;
            color: white;
            height: 80px;
            
            }


            footer {
            height: 150px;
            position: absolute; left: 0; bottom: 0; width: 100%;}

            footer
            {
                align-self: flex-end;
                width:100%;
                height:100px;
                /*background-color:#00CED1;*/
                line-height: 3;
                text-align: center;
                width: 100%;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            